<ion-header>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
            </ion-buttons>
            <ion-title>
                Importância da Dieta
            </ion-title>
        </ion-toolbar>
    </ion-header>
</ion-header>

<ion-content class="text-center">
    <ion-card>
    <h1>Importância de dieta fazer</h1>
    <p>
        <li>O nosso organismo gasta energia constantemente ao manter todas as suas atividades vitais. Essa energia provém da respiração celular, processos no qual moléculas orgânicas são oxidadas, liberando energia.</li>
        <li> Um grama de gordura libera, na respiração celular,
        aproximadamente 9,5 kcal de energia, sendo que um grama de carboidrato ou proteína libera cerca de 5 kcal.</li>
         <li>Chamamos de quilocalorias (kcal) a medida de energia que os alimentos contém. Um indivíduo adulto necessita de aproximadamente 3.000 kcal
        por dia e a sua alimentação deve ser balanceada, de forma que essa pessoa consuma entre 50% e 60% de carboidratos, 25% e 35% de gorduras e 15% e 25% de proteínas.</li>
    </p>
    <img src="../../assets/salmao.jpg" alt="prato">
    <p>
        <li>Conseguiremos manter o nosso peso estável se a quantidade de calorias ingeridas for aproximadamente igual à quantidade de calorias que o nosso corpo gasta. Se a ingestão de calorias for maior do que o corpo necessita, haverá aumento de peso, ou seja,
             a pessoa engordar; mas se essa ingestão for menor do que o corpo necessita, haverá perda de peso e a pessoa emagrecer. </li>
        <li>Para manter o peso ideal e ainda obter todos os nutrientes de que o corpo necessita é imprescindível ter uma dieta variada,
        na qual a deficiência de um nutriente em certos alimentos seja compensada por sua presença em outros.</li>
        <li> Por isso, é muito importante consumir alimentos dos quatro grupos básicos (verduras, legumes e frutas; cereais; leite e derivados; carne). Uma
        dieta balanceada consiste em combinar variedade e quantidade adequadas de alimentos à idade e ao grau de atividade física de cada um.</li>

    </p>
</ion-card>
</ion-content>