<ion-header>
  <ion-toolbar>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h2>Generation Fitness</h2>
    <h2>Editar Perfil</h2> 

  <ion-card-content>
      <ion-card padding>
         
              <div>
                  <ion-label position="floating">Nome</ion-label>
                  <ion-input type="text" [(ngModel)]="newAluno.nome" name="nome" required #nome="ngModel"></ion-input>
                  <span class="error" *ngIf="nome.invalid && nome.dirty">
          *Campo Invalido
      </span>
              </div>
            <div>
                <ion-label position="floating">CPF</ion-label>
                <ion-input type="text" [(ngModel)]="newAluno.cpf" name="cpf" required #cpf="ngModel"></ion-input>
                <span class="error" *ngIf="cpf.invalid && cpf.dirty">
            *Campo Invalido
        </span>
            </div>
            <div>
                <ion-label position="floating">E-mail</ion-label>
                <ion-input type="email" [(ngModel)]="newAluno.email" name="email" required #email="ngModel"></ion-input>
                <span class="error" *ngIf="email.invalid && email.dirty">
            *Campo Invalido
        </span>
            </div>
            <div>
                <ion-label position="floating">Celular</ion-label>
                <ion-input type="text" [(ngModel)]="newAluno.celular" name="celular" required #celular="ngModel"></ion-input>
                <span class="error" *ngIf="celular.invalid && celular.dirty">
            *Campo Invalido
        </span>
            </div>
            <div>
                <ion-label position="floating">Data de Nascimento</ion-label>
                <ion-input type="date" [(ngModel)]="newAluno.dataNascimento" name="dataNasc" required #dataNasc="ngModel"></ion-input>
                <span class="error" *ngIf="dataNasc.invalid && dataNasc.dirty">
            *Campo Invalido
        </span>
            </div>

            <div>
                <ion-label position="floating">Objetivo</ion-label>
                <ion-input type="text" [(ngModel)]="newAluno.objetivo" name="objetivo" required #objetivo="ngModel"></ion-input>
                <span class="error" *ngIf="objetivo.invalid && objetivo.dirty">
            *Campo Invalido
        </span>
            </div>

          <ion-button color="success">Salvar</ion-button>
          <ion-button color="danger">Cancelar</ion-button>

      </ion-card>
  </ion-card-content>
</ion-content>
