<ion-header>
    <ion-toolbar>
        <ion-title>Editar Perfil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-content>
        <ion-card padding class="card">

            <div>
                <ion-label>Nome</ion-label>
                <ion-input type="text" [(ngModel)]="newAluno.nome" name="nome" required #nome="ngModel"></ion-input>
                <span class="error" *ngIf="nome.invalid && nome.dirty">
          Campo Invalido
      </span>
            </div>
            <div>
                <ion-label>CPF</ion-label>
                <ion-input type="text" [(ngModel)]="newAluno.cpf" name="cpf" required #cpf="ngModel"></ion-input>
                <span class="error" *ngIf="cpf.invalid && cpf.dirty">
            Campo Invalido
        </span>
            </div>
            <div>
                <ion-label>E-mail</ion-label>
                <ion-input type="email" [(ngModel)]="newAluno.email" name="email" required #email="ngModel"></ion-input>
                <span class="error" *ngIf="email.invalid && email.dirty">
            Campo Invalido
        </span>
            </div>
            <div>
                <ion-label>Celular</ion-label>
                <ion-input type="text" [(ngModel)]="newAluno.celular" name="celular" required #celular="ngModel"></ion-input>
                <span class="error" *ngIf="celular.invalid && celular.dirty">
            Campo Invalido
        </span>
            </div>
            <div>
                <ion-label>Objetivo</ion-label>
                <ion-input type="text" [(ngModel)]="newAluno.objetivo" name="objetivo" required #objetivo="ngModel"></ion-input>
                <span class="error" *ngIf="objetivo.invalid && objetivo.dirty">
            Campo Invalido
        </span>
            </div>

            <ion-button padding-top padding-bottom color="success">Salvar</ion-button>
            <ion-button padding-top padding-bottom color="danger" style="float: right;">Cancelar</ion-button>

        </ion-card>
    </ion-card-content>
</ion-content>