        span.error {
            color: orangered;
            font-size: 18px;
            font-weight: bold;
        }
        
        h2 {
            color: white;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
        }
        
        .background {
            background-image: url("../../assets/logoteste.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100%;
            opacity: 0.8;
        }
        
        .input {
            background-color: white;
            border-radius: 5px;
        }
        
        .label {
            font-size: 20px;
            color: white;
            float: initial;
        }