<ion-header>
    <ion-toolbar>
        <ion-title>Sign in</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding id="body">
    <ion-list>
        <h2>Welcome to Generation Fitness!!</h2>
        <ion-item>
            <ion-label position="floating">username</ion-label>
            <ion-input></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">password</ion-label>
            <ion-input></ion-input>
        </ion-item>

    </ion-list>

    <ion-button expand="block" (click)="makeLogin()">Sign In</ion-button>

</ion-content>