h1 {
    font-size: 22px;
    text-align: center;
    font-style: serif;
    font-weight: bold;
}

p {
    font-size: 15px;
    font-style: serif;
}

// ion-card{
//     background-color:lightgray;
// }
