<ion-header>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
            </ion-buttons>
            <ion-title>
                Importância dos Suplementos
            </ion-title>
        </ion-toolbar>
    </ion-header>
</ion-header>

<ion-content class="text-center">
    <h1>Importância de Consumir Suplementos Alimentares</h1>
    <p>
        <li>Suplementos alimentares são produtos destinados a complementar a dieta normal tanto em calorias como também em proteínas, carboidratos, gorduras, vitaminas, minerais e fibras, dependendo das necessidades de cada pessoa. </li>
        <li>Os suplementos visam atender as
        necessidades de atletas de alta performance, praticantes de atividade física e todas as pessoas que queiram complementar a sua dieta para ganho de peso, massa muscular ou para melhora do estado de saúde geral.</li>
    </p>
    <img id="imagem-suplementos" src="../../assets/imagem-suplementos.gif">
    <p>

        <li>É importante lembrar que os suplementos não substituem a dieta normal, eles participam como coadjuvantes para suprir as necessidades nutricionais de atletas e esportistas que na maioria das vezes não conseguem suprir seus requerimentos diários de nutrientes.</li>
        OBS: Diabéticos devem consultar médico ou nutricionista antes de consumir esses produtos.
    </p>

</ion-content>