<ion-header>
    <ion-toolbar>
        <ion-title>
            BLOG
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-card>
        <img src="../../assets/agua.png" alt="agua" class="artigo_img">
        <ion-card-header>
            <ion-card-subtitle>A IMPORTÂNCIA DA ÁGUA</ion-card-subtitle>
            <ion-card-title>Por que tomar água?</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            A água não é apenas importante, mas indispensável para a vida humana, representando cerca de 60% do peso de um adulto.
            <!--<input type="button" value="Leia mais" (click)="abreAguaPage()"> -->
            <a href="/agua">Leia mais</a>
        </ion-card-content>

    </ion-card>

    <ion-card>
        <img src="../../assets/exercicio.png" alt="exercicio" class="artigo_img">
        <ion-card-header>
            <ion-card-subtitle>ATIVIDADE FÍSICA</ion-card-subtitle>
            <ion-card-title>Qual a importância das atividades físicas?</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            A prática regular de determinada atividade física reduz substancialmente o risco de morrer de doenças cardíacas
            <a href="/atividade-fisica">Leia mais</a>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <img src="../../assets/dieta.png" alt="dieta" class="artigo_img">
        <ion-card-header>
            <ion-card-subtitle>ALIMENTAÇÃO E DIETA</ion-card-subtitle>
            <ion-card-title>Por que fazer dieta?</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            O nosso organismo gasta energia constantemente ao manter todas as suas atividades vitais
            <a href="/dieta">Leia mais</a>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <img src="../../assets/suplemento.jpg" alt="suplemento" class="artigo_img">
        <ion-card-header>
            <ion-card-subtitle>DIETA E SUPLEMENTAÇÃO</ion-card-subtitle>
            <ion-card-title>Por que fazer uso de suplementação?</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Suplementos alimentares são produtos destinados a complementar a dieta normal
            <a href="/suplementacao">Leia mais</a>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <img src="../../assets/treino.jpg" alt="treino" class="artigo_img">
        <ion-card-header>
            <ion-card-subtitle>DICAS DE TREINO</ion-card-subtitle>
            <ion-card-title>Alguns motivos para não pular treino de pernas</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Cometer o erro de não treinar (ou treinar mal) pernas é uma das atitudes mais prejudiciais para o desenvolvimento de um shape bom.
            <a href="/treino">Leia mais</a>
        </ion-card-content>
    </ion-card>




</ion-content>