<ion-header>
    <ion-toolbar>
        <ion-title>
            PERFIL
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="/assets/perfil.jpg" alt="" />
        <ion-card-header>
            <ion-card-subtitle>Generation Fitness</ion-card-subtitle>
            <ion-card-title>Welcome {{aluno.nome}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Com esse novo aplicativo, você tem a possibilidade de consultar seu treino e ficar informado sobre dicas importantes para manter sua saúde em dia.</p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-subtitle padding>Segue seus dados:</ion-card-subtitle>
        <ion-list>
            <ion-item>
                <ion-label>
                    Nome: {{aluno.nome}}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    CPF: {{aluno.cpf}}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    E-mail: {{aluno.email}}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    Celular : {{aluno.celular}}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    Objetivo: {{aluno.objetivo}}
                </ion-label>
            </ion-item>

        </ion-list>

        <ion-button color="primary" style="float: right;" (click)="editarPerfil()">Editar Perfil</ion-button>
    </ion-card>
</ion-content>