:host {
    --background: var(--ion-toolbar-background, var(--ion-background-color, black));
}

.welcome-card img {
    //max-height: 35vh;
    overflow: hidden;
    border-radius: 50%;
    width: 80%;
    //height: 150px;
    // position: initial;
    margin: auto;
}

.toolbar-background,
 ::slotted(ion-progress-bar) {
    background-color: #1e2023;
}

p {
    font-size: 15px;
    text-align: center;
    font-style: oblique;
}

ion-card-subtitle {
    font-size: 20px;
    text-align: center;
    font-style: oblique;
}

ion-card-title {
    font-size: 20px;
    text-align: center;
    font-style: oblique;
}

ion-label {
    font-style: oblique;
}