h1 {
    font-size: 20px;
    text-align: center;
    font-style: oblique;
}

p {
    font-size: 15px;
    font-style: serif;
}

ion-card-title {
    font-size: 20px;
    text-align: center;
    font-style: oblique;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border-bottom: 1px solid rgb(187, 185, 185);
    text-align: center;
    padding: 2px;
}