<ion-header>
    <ion-toolbar>
        <ion-title>
            Treino
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-content>
        <ion-card-header>
            <ion-card-title>Peito</ion-card-title>
        </ion-card-header>
        <img src="../../assets/treino-peito.jpg">

        <ion-card-header>
            <ion-card-title>Costa</ion-card-title>
        </ion-card-header>
        <img src="../../assets/treino-costa.jpg">
        <ion-card-header>
            <ion-card-title>Perna</ion-card-title>
        </ion-card-header>
        <img src="../../assets/treino-perna.jpg">
        <ion-card-header>
            <ion-card-title>Panturrilha & Ombro</ion-card-title>
        </ion-card-header>
        <img src="../../assets/treino-ombro.jpg">
        <ion-card-header>
            <ion-card-title>Braço</ion-card-title>
        </ion-card-header>
        <img src="../../assets/treino-braco.jpg">


    </ion-card-content>

</ion-content>