<ion-header>
    <ion-toolbar>
        <ion-title>
            TREINO
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <img src="../../assets/treino-peitoral.jpg">
        <ion-card-header>
            <ion-card-title (click)="mostrarTreinoPeito()">Peitoral
                <ion-icon name="arrow-dropdown"></ion-icon>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <table *ngIf="this.btnPeitoral">
                <thead>
                    <th>Séries x Repetições</th>
                    <th>Exercício</th>
                    <th>Descanso</th>
                </thead>
                <tbody>
                    <tr *ngFor="let treino of treinoPeitoral">
                        <td>{{treino.quantidade_series}} x {{treino.numero_repeticoes}}</td>
                        <td>{{treino.nome}}</td>
                        <td>{{treino.tempo_descanso}} seg</td>
                    </tr>
                </tbody>
            </table>
        </ion-card-content>

    </ion-card>
    <ion-card>
        <img src="../../assets/treino-costa.jpg">
        <ion-card-header>
            <ion-card-title (click)="mostrarTreinoCostas()">Costas
                <ion-icon name="arrow-dropdown"></ion-icon>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <table *ngIf="this.btnCostas">
                <thead>
                    <th>Séries x Repetições</th>
                    <th>Exercício</th>
                    <th>Descanso</th>
                </thead>
                <tbody>
                    <tr *ngFor="let treino of treinoCostas">
                        <td>{{treino.quantidade_series}} x {{treino.numero_repeticoes}}</td>
                        <td>{{treino.nome}}</td>
                        <td>{{treino.tempo_descanso}} seg</td>
                    </tr>
                </tbody>
            </table>
        </ion-card-content>

    </ion-card>

    <ion-card>
        <img src="../../assets/treino-inferiores.jpg">
        <ion-card-header>
            <ion-card-title (click)="mostrarTreinoPerna()">Membros Inferiores
                <ion-icon name="arrow-dropdown"></ion-icon>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <table *ngIf="this.btnPernas">
                <thead>
                    <th>Séries x Repetições</th>
                    <th>Exercício</th>
                    <th>Descanso</th>
                </thead>
                <tbody>
                    <tr *ngFor="let treino of treinoMembroInferiores">
                        <td>{{treino.quantidade_series}} x {{treino.numero_repeticoes}}</td>
                        <td>{{treino.nome}}</td>
                        <td>{{treino.tempo_descanso}} seg</td>
                    </tr>
                </tbody>
            </table>
        </ion-card-content>

    </ion-card>

    <ion-card>
        <img src="../../assets/treino-ombreira.jpg">
        <ion-card-header>
            <ion-card-title (click)="mostrarTreinoOmbro()">Ombro
                <ion-icon name="arrow-dropdown"></ion-icon>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <table *ngIf="this.btnOmbro">
                <thead>
                    <th>Séries x Repetições</th>
                    <th>Exercício</th>
                    <th>Descanso</th>
                </thead>
                <tbody>
                    <tr *ngFor="let treino of treinoOmbro">
                        <td>{{treino.quantidade_series}} x {{treino.numero_repeticoes}}</td>
                        <td>{{treino.nome}}</td>
                        <td>{{treino.tempo_descanso}} seg</td>
                    </tr>
                </tbody>
            </table>
        </ion-card-content>

    </ion-card>

    <ion-card>
        <img src="../../assets/treino-braco.jpg">
        <ion-card-header>
            <ion-card-title (click)="mostrarTreinoBraco()">Braço
                <ion-icon name="arrow-dropdown"></ion-icon>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <table *ngIf="this.btnBraco">
                <thead>
                    <th>Séries x Repetições</th>
                    <th>Exercício</th>
                    <th>Descanso</th>
                </thead>
                <tbody>
                    <tr *ngFor="let treino of treinoBraco">
                        <td>{{treino.quantidade_series}} x {{treino.numero_repeticoes}}</td>
                        <td>{{treino.nome}}</td>
                        <td>{{treino.tempo_descanso}} seg</td>
                    </tr>
                </tbody>
            </table>
        </ion-card-content>

    </ion-card>

</ion-content>