<ion-header>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
            </ion-buttons>
            <ion-title>
                Importância do treino de pernas
            </ion-title>
        </ion-toolbar>
    </ion-header>
</ion-header>

<ion-content>
    <h1>Importância de treinar pernas</h1>
    <h4>Fonte: https://www.feitodeiridium.com.br/6-razoes-nunca-pular-treino-de-pernas/</h4>
    <h2>Principais benefícios do treino de pernas</h2>
    <h3>1- Proporciona um aumento dos níveis de testosterona</h3>
    <p>Vamos começar logo pelo ponto mais importante. O treino de pernas exerce um papel fundamental no aumento da produção de testosterona no nosso corpo. Este aumento natural propicia uma série de melhorias em seu corpo, capazes de te transformar em um
        super herói. Entre elas podemos listar:</p>
    <ul>
        <li>Aumento da sua massa muscular</li>
        <li>Maior queima de gordura</li>
        <li>Melhora seu desempenho na cama</li>
    </ul>

    <h3>2- Aumenta seu gasto calórico ao longo do dia</h3>
    <p>Seja lá qual for o seu objetivo na academia, perda de peso ou ganho de massa muscular, aumentar as calorias queimadas ao longo do dia é uma ótima opção.</p>
    <p>Toda vez que você trabalha exercícios compostos (agachamento livre, levantamento terra, avanço, supino e desenvolvimento militar) o seu corpo precisa trabalhar mais.</p>
    <p>Seu metabolismo precisa se readequar para distribuir tanto estímulos corretos, força necessária e equilíbrio para que os movimentos sejam realizados.</p>
    <p>Pare de perder uma hora do seu dia na esteira.</p>
    <p>Por mais que este tipo de exercício cardiovascular te auxilie na perda de gordura, ele é uma faca de dois gumes. Você não aumenta a massa muscular.</p>
    <p>Se você quer ficar grande e quer preencher suas calças você precisa fazer visitas constantes ao hack de agachamento livre.</p>

    <h3>3- Acelera o seu metabolismo</h3>
    <p>Você pode até ter orgulho do seu bíceps ou do seu peitoral, mas os maiores grupos musculares do seu corpo estão abaixo da cintura. E é por isso que voltamos neste assunto.</p>
    <p>Um bom treino de pernas pode auxiliar na aceleração do metabolismo. Um benefício que pode ser sentido em até mais de 24h após a realização do treino de pernas.</p>
    <p>Com o metabolismo acelerado, você consegue manter um gasto calórico alto durante um tempo maior, mas também consegue produzir e manter sua massa magra por mais tempo.</p>

    <h3>4- Reduz o risco de lesões</h3>
    <p>Como você treina com tanto empenho durante a semana, arriscamos dizer que você também gosta de esportes, certo?</p>
    <p>Seja um futebol, basquete, voley ou handball. Qualquer modalidade pode ser beneficiada por um bom treino de pernas. Além disso, o ponto mais essencial deste treino para a prática de qualquer esporte é a redução do risco de lesões. Durante a prática
        de esportes, os seus membros inferiores são utilizados de forma muito desgastante. Sem a devida força nos músculos da perna e, variando da intensidade do esporte, você pode estar se colocando em risco.</p>
    <p>Quer evitar lesões? TREINE PERNAS!</p>

    <h3>5- Esqueça as dores na lombar</h3>
    <p>Se você passa a maior parte do seu dia trabalhando sentado, sem se alongar e, para completar, você não faz um treino de pernas digno de um mister Kay Greene, pode ter certeza de que em pouco tempo você pode começar a sentir fortes dores na lombar.</p>
    <p>Não estamos rogando praga, estamos apenas falando a verdade.</p>
    <p>Arriscamos dizer que, em algum momento do seu treino, você sinta algum desconforto na região da lombar e não consiga entender o motivo disso. Agora vamos explicar.</p>
    <p>Sem um devido treino de pernas aliado a muitas horas sentado você cria uma situação onde seu posterior de coxa é fraco e seus flexores do quadril são encurtados (devido às horas sentado diariamente).</p>
    <p>Ao realizar um treino completo, você ganha força nessas regiões e aumenta sua mobilidade de flexores de quadril, o que te auxiliará não apenas no treino de pernas, mas também em suas atividades diárias.</p>

    <h3>6- Melhora a simetria do seu shape</h3>
    <p>Não existe nada pior neste mundo do que um shape de sorvete Cornetto.</p>
    <p>Você se dedica, faz dieta regularmente e treina como um animal. Então tenha o mesmo empenho nos treinos de membros superiores e inferiores. Arriscamos dizer que, para usufruir de todos os benefícios que o treino de pernas pode proporcionar, ele é
        o mais importante.</p>
    <p>Seja simétrico, dê atenção para as panturrilhas, quadríceps, posteriores e glúteos. Sim, glúteos. Você realmente acha que o agachamento pega apenas os seus quadríceps? </p>
    <p>Agora vamos lá. Preparamos uma pequena lista dos melhores exercícios para um treino de pernas monstro.</p>
    <p>Aqui vamos falar de exercícios compostos que requerem uma consciência corporal além do comum. Então, antes de tentar isso na sua academia, faça sua pesquisa e peça ajuda a um profissional capacitado.</p>





</ion-content>